body {
  margin: 1px;
  padding: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width:1000px) {
  footer {
    position: static;
    margin-top: auto;
  }
}

/* Header Selectors */
#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
  padding: 15px;
  justify-items: center;
  align-items: center;
  border: 2px solid black;
}

#header-container>img {
  justify-self: start;
  border-radius: 25px;
}

/* Main Selectors */
#article-catalogue {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
}

@media screen and (max-width:768px) {
  #article-catalogue {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
  }

  .product-card {
    min-width: 250px;
    max-width: 300px;
  }
}

@media screen and (min-width:768px) and (max-width:1000px) {
  #article-catalogue {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-card {
  display: grid;
  grid-template-rows: repeat(4, auto);
  border: 2px solid black;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.product-card img {
  max-width: 100%;
}

.product-card h1,
.product-card h3,
.product-card p {
  margin: 5px 0px;
}

/* Footer Selectors */
#column-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  border: 2px solid black;
  margin-top: 15px;
}

@media screen and (max-width:768px) {
  #column-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.column {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2px;
  padding: 2px;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.scale-in {
  animation: scaleIn 5s ease-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 20s linear infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out infinite;
}